@charset "utf-8";
/* CSS Document */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI Light", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;
	font-size: 100%;
}
html,
body {
	color: #333
}
body {
	background: #fff url(../images/web_bg.png) repeat;
}
ul,
ol,
li {
	list-style: none;
}
a:link,
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #12b7f5;
}
img {
	border: none;
}
em {
	font-style: normal;
}
h1,h2,h3,h4,h5 {
	font-weight:normal;
}
.clearfloat:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfloat {
	zoom: 1;
}
/*解决IE6下滚动抖动的问题*/
#tbox {
    width: 54px;
    height: 54px;
    float: right;
    position: fixed;
    right: 50px;
    bottom: 15px;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _margin-bottom: 15px;
    z-index: 99999;
}

/*解决IE6下不兼容 position:fixed 的问题*/
#gotop {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    display: none;
    box-shadow: 0px 0px 4px #A0A0A0;
}
#gotop:hover{
    box-shadow: 0px 0px 16px #A0A0A0;
}
#gotop {
    background-position: 0 0px;
    cursor: pointer;
}
/* top */

.top {
	width: 100%;
	height: 60px;
	background: #fff;
	filter: alpha(opacity: 80);
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;
	display: none;
}
.top .top_com {
	max-width: 1200px;
	min-width: 300px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}
.top .logo {
	margin-left: 26px;
	float: left;
}
.top .logo h1 {}
 .top .logo a {
	display: block;
	width: 300px;
	height: 60px;
	/* background:url(../images/logo.png) no-repeat;*/
}
.top .logo a img {
	margin-top: 15px;
	float:left;
	margin-right: 7px;
}
.top .logo a .logo_l,
#top .logo a {
	transition: .8s;
	-webkit-transition: .8s;
}
.top .logo a:hover .logo_l {
	-webkit-transform: rotateZ(720deg);
	-moz-transform: rotateZ(720deg);
	-o-transform: rotateZ(720deg);
	-ms-transform: rotateZ(720deg);
	transform: rotateZ(720deg);
}
.top ul {
	float: right;
	height: 60px;
	    position: absolute;
    right: 0;
}
.top li {
	float: right;
	height: 60px;
	line-height: 60px;
	margin: 0 20px;
	display: inline;
}
.top a {
	float: left;
	font-size: 20px;
	color: #333;
}
.top a:hover,
#top a.top_nav_sel {
	color: #007bed;
}
.g_dl{
	width: 186px;
	height: 37px;
	margin-top: 23px;
	background-image: url(../images/googleplayicon.png);
	background-position: 10px 0px;
	display: block;
	/*position: absolute;
	right: 0px;
	top: 110px;
	z-index: 10;	*/
}
.g_dl:hover {
	color: #fff;
	background-position: 10px -50px;
	background-color: rgba(15,196,255,0.7);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.g_dl:active{
	color: #fff;
	background-position: 10px -50px;
	background-color: rgba(15,176,235,0.9);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.logo_en , .logo a  {margin-left:0px; position: relative; top:11px; font-size:28px; color:#D54B00;}
.topicfixed {
	filter: alpha(opacity: 100);
	opacity: 1.0;
	position: fixed;
	border-bottom: 1px solid #f1f1f1;
}


/* banner */
.linknsync-video{
	width: 480px;
	height: 270px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top:-95px;
	/*border: 6px solid rgba(0,123,237,0.5);*/
	border: 6px solid rgba(0,0,0,0.4);
}


.crossbanenr {
	width: 100%;
	height: 778px;
	background: #46526b;
}
.crossbanenr ul {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*max-width: 1920px; */
	
	/*min-width: 1007px;*/
	margin: 0 auto;
}
.crossbanenr li {
	position: absolute;
	left:px;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0 0 ;
	display: none;
	z-index: 1;
	overflow: hidden;
}
.crossbanenr li:first-child {
	display: block;
}
.crossbanenr li.current {
	z-index: 2;
}
.crossbanenr li.bn1 {
	background: transparent url(../images/home_banner_top.jpg) no-repeat center top;
	overflow: hidden;
}

.bncont {
	position: relative;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.bntxt {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 400px;
	margin-top: -200px;
	z-index: 10;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background: none;
	overflow: hidden;
}

.bntxt .dl_version {
	float: right;
	text-align: center;
	display: block;
	color: #d54b00;
	font-size: 20px;
	width: 81px;
	height: 39px;
	margin-right: 200px;
	background: url(../images/dl_version_bg.png) no-repeat;
	line-height: 35px;
	padding-left: 3px;
	text-shadow: none;
}


.bntxt a,.bntxt div, .bntxt div div{
/*	position: absolute;*/
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
}
.bntxt p {
	display: block;	width: 100%;	text-align: center;	clear: both;overflow: hidden;
}
.bntxt .txt1{
	font-size: 40px;
	margin-top: 0px; 	height: 42px; line-height: 40px;
}
.bntxt .txt2{
	font-size: 20px;
	margin-top: 15px; 	height: 20px; line-height: 20px;
}
.bntxt .txt3{
	font-size: 20px;
	margin-top: 10px; 	height: 20px; line-height: 20px;
}
.bntxt .moble_top_img{
	width: 100%;
	margin-top: 15px;
}
.bntxt .moble_top_img img {
	width: 86%;
	margin-left: 7%;
}
.bntxt .btn{
	/*position: relative;*/
	width: 200px;	height: 44px;
	display: block;	overflow: hidden;
	margin: 0 auto;	margin-top: 20px; padding-left: 10px;
	background-size: auto;
	background-position: 12px center;
	color: #fff;
	text-align: center;
	line-height: 44px;	font-size: 16px;
	text-shadow: none;
	border-radius: 4px;	-webkit-border-radius: 4px;	-moz-border-radius: 4px;
	transition: /*background-color */0.3s;
	-webkit-transition: /*background-color */0.3s;
	box-shadow:  0 0 6px rgba(0,0,0,0.2);
	-webkit-box-shadow:  0 0 6px rgba(0,0,0,0.2);
}
.bntxt .btn:hover{
	background-position: 18px center;
}
.bntxt .dl_android{
	margin-top: 30px;	
	background-image: url(../images/icon_android.png);
	background-color: #3cc400;
}
.bntxt .dl_android:hover{	background-color: #34aa00;}
.bntxt .dl_android:active{	background-color: #2c8f00;}
.bntxt .dl_iphone{
	margin-top: 20px;	
	background-image: url(../images/icon_iphone.png);
	background-color: #00abeb;
}
.bntxt .dl_iphone:hover{	background-color: #0094cb;}
.bntxt .dl_iphone:active{	background-color: #007fae;}
.bntxt .dl_windows{
	right: 13px;	top: 190px;	
	background-image: url(../images/icon_windows.png);
	background-color: #eb6a0b;
	display: none;
}
.bntxt .dl_windows:hover{	background-color: #c3580a;}
.bntxt .dl_windows:active{	background-color: #ad4d06;}

/*link master title*/
.content{
	overflow-x: hidden;
}
.lmtt {
	width: 800px;
	height: 160px;
	background: none;
	display: block;
	clear: both;
	z-index: 10;
	position: relative;
	left: 50%;
	margin-left: -400px;
	
	padding-top: 70px;
	overflow: hidden;
}
.lmtt p{
	width: 100%;
	text-align: center;
	/*font-family: "Segoe UI Light", "Segoe UI", "microsoft yahei light", "microsoft yahei";*/
}
.lmtt .txt1{
	font-size: 40px;
	color:#ec801f ;
	letter-spacing: 0px;
	/*padding-top: 70px;*/
	/*font-family: "Segoe UI", "microsoft yahei light", "microsoft yahei";*/
	
	display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff911b), to(#ba4a00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lmtt .txt2{
	font-size: 20px;
	color:#888 ;
	letter-spacing: 10px;
}
/*.lmtt .txt2  .txt2_2{
	font-family:  "Segoe UI", "microsoft yahei";
	font-size: 44px;
	color:#666 ;
}*/

.activebg {
	position: relative; width: 100%; height: 500px; background: url(../images/web_bg.png) repeat; background-attachment: fixed;background-position: center 0; background-repeat: no-repeat;
}
.fisrtbg {
	background-image: url(../images/home_bg_1.jpg);
}
.secondbg {
	background-image: url(../images/home_bg_2.jpg);
}
.thirdbg {
	background-image: url(../images/home_bg_3.jpg);
}
.txtwrap p {
	font-size: 18px;
	letter-spacing: 0em;
}
.first_list,  
.second_list {
	width: 100%;
	height: 500px;
	background: #fff url(../images/web_bg.png) repeat;
	clear: both;
}
/*.first_list{background: #fff url(../images/web_bg.png) repeat;}
.second_list{background: #fff url(../images/web_bg.png) repeat; }*/
.lm960 {
	position: relative;
	height: 500px;
	margin: 0 auto;
}

.first_list .txtwrap{
	display: block;
	color: #333;
	left: 0px;	margin-top:60px;		height: ;
	z-index: 20;

}
.first_list .txtwrap .title1{
	font-size: 40px;
	line-height: 50px;
	color:#ec801f ;
	width: 100%;
	text-align: center;
	display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff911b), to(#ba4a00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_list .txtwrap .txt1{
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.first_list .firstwrap{
	position: relative;
	 width: 50%; height: 60%;
	 margin: 30px auto 0;
	 text-align: center;
	background-image: url(../images/banner_phone_1.png);
	background-repeat: no-repeat;
	background-size: contain;
	
}


.second_list .txtwrap{
	display: block;
	color: #333;
	left: 0px;	margin-top:60px;		height: ;
	z-index: 20;
	
}
.second_list .txtwrap .title1{
	font-size: 40px;
	line-height: 50px;
	color:#ec801f ;
	width: 100%;
	text-align: center;
	display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff911b), to(#ba4a00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second_list .txtwrap .txt1{
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.second_list .secondwrap{
	position: relative;
	 width: 50%; height: 60%;
	 margin: 30px auto 0;
	 text-align: center;
	background-image: url(../images/banner_phone_2.png);
	background-repeat: no-repeat;
	background-size: contain;
}
/* footer */
.footer {
	clear: both;
	width: 100%;
	height: 90px;
	margin: 0 auto;
	overflow: none;
	background: #333333 ;
}
.logo_footer_txt{
	width: 250px;
	height: 70px;
	color: #999999;
	text-align: left;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 30px;
	position: absolute;
	left: 50%;
	margin-left: -110px;

}
/*.logo_footer_img{
	background: url(../images/logo_footer.png) no-repeat;
	width: 35px;
	height: 35px;
	display: block;
   z-index: 20;
float: left;
margin-top: 3px;
margin-right: 5px;
}*/


